.style-switcher{
	position: fixed;
	top: 20px;
	right: 0;
	z-index: 10;
	background-color: #fff;
	padding: 15px;
	border: 1px solid #d4d4e3;
	border-right: none;
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}
.style-switcher.open{
	transform: translateX(0%);
}
.style-switcher h5{
	font-size: 16px;
	color: #320e4d;
	margin-top: 0;
	margin-bottom: 8px;
	border-bottom: 1px solid #e8dfec;
	padding-bottom: 5px;
}
.style-switcher ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.style-switcher ul li{
	display: inline-block;
}
.style-switcher ul li a{
	display: block;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	cursor: pointer;
	text-decoration: none;
	margin-right: 3px;
}

.style-switcher .toggle-style-switcher{
	position: absolute;
	height: 45px;
	width: 45px;
	background-color: #fff;
	top: 0;
	border: 1px solid #d4d4e3;
	left: -45px;
	border-right: none;
	text-align: center;
	cursor: pointer;
	border-radius: 5px 0 0 5px;

}
.style-switcher .toggle-style-switcher i{
	font-size: 20px;
	line-height: 45px;
}